/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*<---GENERAL STYLES--->*/

body {
    font-family: Arial, Helvetica, sans-serif;
}

.black-background {
    background-color: #000;
    color: #fff;
}


/*<---TASK 2--->*/

#wrapp {
    width: 100%;
    margin: 50px 0 0 0;
    position: relative;
}

@media screen and (min-width: 800px) {
    #wrapp {
        width: 90%;
        margin: 50px auto;
    }
}

#wrapp .first-heading {
    font-size: 1.3em;
    text-align: center;
    margin: 0 0 50px 0;
}

#wrapp .second-heading {
    font-size: 1.1em;
    text-align: center;
}

#wrapp .shuffle {
    padding: 15px 30px 15px 30px;
    background-color: #000;
    color: #fff;
    border: 0;
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translate(-50%);
}

#wrapp .shuffle:focus {
    outline: none;
}

#wrapp .numbers-list {
    width: 300px;
    overflow: hidden;
    list-style: none;
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translate(-50%);
}

@media screen and (min-width: 600px) {
    #wrapp .numbers-list {
        width: 500px;
    }
}

@media screen and (min-width: 800px) {
    #wrapp .numbers-list {
        width: 700px;
    }
}

.numbers-list .number-element-list {
    float: left;
    display: block;
    padding: 5px 0 5px 0;
    width: 9%;
    border: 1px solid;
    text-align: center;
}

